<article class="col-sm-12 text-center">
  <p>Queen of the Nile</p>
</article>

<div class="text-center">
<%= form_tag("/jayci/scavenger/#{@scavenger.id}", method: 'patch') do %>
  <%= text_field_tag(:guess, nil, class: 'form-control', placeholder: "What's your guess?") %>
  <%= submit_tag('Guess!', class: 'btn btn-info guess-button') %>
<% end %>
</div>
