<article class="col-sm-12 text-center">
  <p>Hi Jayci, You finished!</p>
  <p>You are amazing my girl. I love you so much.</p>
  <p>I hope you had fun doing this and will remember which date is now your favorite.</p>
  <p>You have been an amazing wife and will be a wonderful mom.</p>
  <p>I'm really excited to take this journey with you.</p>
  <p>Seeing you happy makes me happy.</p>
  <p>I hope you're loving your big city and are ready to be a mommy to my daddy!</p>
</article>
