<article class="col-sm-12 text-center">
  <p>
    So this one time in your life you told me
    that your favorite date was some doofus taking you
    on some lame scavenger hunt throughout New York City.
    Well - get ready for the best one of your life
  </p>

  <a href="/jayci/scavenger/1" class="btn btn-info">Get Started!</a>
</article>
