<article class="col-sm-12 text-center">
  <p>A number of points lead to this awful place</p>
  <p>In 1850, you’d get out of here with haste</p>
  <p>It’s around a curve, so don’t stay too long</p>
  <p>For if you do - so much could go wrong</p>
</article>

<div class="text-center">
<%= form_tag("/jayci/scavenger/#{@scavenger.id}", method: 'patch') do %>
  <%= text_field_tag(:guess, nil, class: 'form-control', placeholder: "What's your guess?") %>
  <%= submit_tag('Guess!', class: 'btn btn-info guess-button') %>
<% end %>
</div>
